<!DOCTYPE html>
<html lang="en">

<%- include("../header.ejs") %>

<head>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/userdashboard">

                <div class="sidebar-brand-text mx-3">Find A Professional</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/userdashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fa fa-user"></i>
                    <span>User Profile</span></a>
            </li>
            <hr class="sidebar-divider">
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/bookinprogress">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Booking In Progress</span></a>
            </li>

            <hr class="sidebar-divider">
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/historybook">
                    <i class="fas fa-fw fa-table"></i>
                    <span>History Book Professional</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <button class="w3-button w3-hover-light-grey"><a href="/logout">Log out</a></button>
                    </ul>
                </nav>
                <!-- End of Topbar -->





                <div class="row">
                    <div class="container">
                        <div class="card shadow mb-4" style="width: 40%; margin:auto; display:block;">

                            <div class="card-header " style="text-align:center; margin:auto;">
                                <h4 class="text-center" style="text-align:center; margin:auto;"><strong>Booking
                                        Form</strong></h4>
                            </div>
                            <div class="card-body">
                                <form method="post" action="/book">

                                    <input type="hidden" name="id" id="id" value="<%=pro._id%>">
                                    <input type="hidden" name="status" id="status" value="pending">
                                    <div class="jarakInput ">
                                        <label for="name"><a>Name Professional: </a></label>
                                        <input type="text" name="Ename" id="Ename" value="<%= pro.username %>"
                                            class="form-control form-control-user" readonly>
                                    </div>

                                    <hr class="sidebar-divider">

                                    <div class="jarakInput">
                                        <label for="uname"><a>Catergory :</a></label>
                                        <input type="text" name="categoryname" id="categoryname"
                                            value="<%=pro.categoryname %>" class="form-control form-control-user"
                                            readonly>
                                    </div>
                                    <hr class="sidebar-divider">

                                    <div class="jarakInput">
                                        <label for="uname"><a>Date :</a></label>
                                        <input type="date" name="date" id="date" value=""
                                            class="form-control form-control-user" required>
                                    </div>

                                    <hr class="sidebar-divider">

                                    <div class="jarakInput">
                                        <label for="uname"><a>Time Available :</a></label>
                                        <select name="time" id="time" class="form-control" required>
                                            <option value="09:01 - 10:00">09:01 - 10:00</option>
                                            <option value="10:01 - 11:00">10:01 - 11:00</option>
                                            <option value="11:01 - 12:00">11:01 - 12:00</option>
                                            <option value="12:01 - 13:00">12:01 - 13:00</option>
                                            <option value="13:01 - 14:00">13:01 - 14:00</option>
                                            <option value="14:01 - 15:00">14:01 - 15:00</option>
                                            <option value="15:01 - 16:00">15:01 - 16:00</option>
                                            <option value="16:01 - 17:00">16:01 - 17:00</option>
                                            <option value="17:01 - 18:00">17:01 - 18:00</option>
                                            <option value="18:01 - 19:00">18:01 - 19:00</option>
                                            <option value="19:01 - 20:00">19:01 - 20:00</option>
                                            <option value="20:01 - 21:00">20:01 - 21:00</option>
                                            <option value="21:01 - 22:00">21:01 - 22:00</option>
                                            <option value="22:01 - 23:00">22:01 - 23:00</option>
                                            <option value="23:01 - 00:00">23:01 - 00:00</option>
                                        </select>
                                    </div>





                                    <hr class="sidebar-divider">


                                    <input type="submit" class="btn btn-primary btn-user btn-block"></input>
                                </form>


                            </div>
                        </div>








                        <!-- Bootstrap core JavaScript-->
                        <script src="/vendor/jquery/jquery.min.js"></script>
                        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                        <!-- Core plugin JavaScript-->
                        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

                        <!-- Custom scripts for all pages-->
                        <script src="/js/sb-admin-2.min.js"></script>

                        <!-- Page level plugins -->
                        <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
                        <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

                        <!-- Page level custom scripts -->
                        <script src="/js/demo/datatables-demo.js"></script>

                        <script type="text/javascript" src="/js/mdb.min.js"></script>
                        <!-- Custom scripts -->
                        <script type="text/javascript"></script>
                        <script>
                            var loadFile = function (event) {
                                var output = document.getElementById('output');
                                output.src = URL.createObjectURL(event.target.files[0]);
                                output.onload = function () {
                                    URL.revokeObjectURL(output.src) // free memory
                                }
                            };

                            function isWeekend(date) {
                                date = new Date(date);
                                return date.getDay() === 6 || date.getDay() === 0;
                            }

                            let tmpTime = $('#time option').map((index, option) => option.value)
                            tmpTime = Array.from(tmpTime)
                            delete tmpTime[0];


                            $("#date").on("change", () => {
                                $('#pp').text("")

                                $('#time').children().remove().end().append(
                                    '<option value="" selected disabled>Time Available</option>');

                                tmpTime.forEach(function (time) {
                                    $('#time').append('<option value="' + time + '">' + time +
                                        '</option>')
                                })

                                $.ajax({
                                    url: "/api/getAvailableTime/" + $('#date').val(),
                                    type: "GET",
                                    success: function (data) {
                                        if (data.length > 0) {
                                            data.forEach(function (book) {
                                                $('#time option[value="' + book.time + '"]').remove();
                                            })
                                        }
                                    }
                                })
                                

                            })
                        </script>

</body>

</html>